<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
  body { font-family: Arial; }
  .box { width: 350px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; }
  input { width: 100%; padding: 10px; margin-top: 8px; }
  button { margin-top: 12px; padding: 10px; width: 100%; background:#2b6cb0; color:#fff; border:0; }
</style>
</head>
<body>

<div class="box">
<h3>Login</h3>

{% with messages = get_flashed_messages() %}
  {% for m in messages %}<p style="color:red">{{m}}</p>{% endfor %}
{% endwith %}

<form method="post">
  <input name="uid" placeholder="Enter UID" required>
  <input name="password" type="password" placeholder="Enter Password" required>
  <button>Login</button>
</form>

<a href="/register">Create Account</a>
</div>

</body>
</html>
